.product__item {
  width: 245px;
  background: #fff;
}

.product__item a {
  text-decoration: none;
  color: #333;
}

.product__item .box__img {
  display: block;
  width: 100%;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.box__img img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto 0;
}

.product__item .product__name {
  overflow: hidden;
  line-height: 1.3em;
  font-size: 13px;
  color: #333;
  padding: 10px 0 0;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  min-height: 42px;
  height: 25px;
  box-sizing: border-box;
}

.price strong {
  color: #b10e0e;
  font-weight: normal;
  font-size: 13px;
  vertical-align: middle;
}

.price span {
  font-size: 13px;
  color: #757575;
  text-decoration: line-through;
  vertical-align: middle;
}

.price label {
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  background: #de2000;
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
