aside {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 14px;
}

aside .card-title {
  padding: 8px;
  color: #777;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}

aside .card {
  background-color: #fff;
}

aside .list-group li {
  list-style-type: none;
  margin-bottom: 10px;
}
