@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  z-index: 0 !important;
}

path.a {
  fill: rebeccapurple;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #cfd2d4;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}
